# Ignore the node_modules directory
node_modules/

# Ignore the image
image/
public/libs

# Ignore the image
image/
public/img

# Ignore the image
image/
public/js/data.js

# Ignore the json
*.json

# Ignore the wix directory
desktop/libs/